@model Vidly2.Models.Customer
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customer"))  // Create => target action, Customer => controller
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name) @*m represents model*@
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate) @*m represents model*@
        @*<label for="BirthDate">Date of Birth</label>*@
        @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
    </div>

    // go https://getbootstrap.com/docs/3.3/css/#forms
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter) Subscribed To Newsletter?
    </div>

}




@* With Html.BeginForm we open tag but there is no closing tag we ensure this with Dispose() method, this
    method returns a disposable object mean using statement*@

