@model Vidly2.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


@using (Html.BeginForm("Save", "Movies"))
{
    @Html.HiddenFor(m => m.Movie.Id) @* we write this to using method so we send  it to save action.*@
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name) @*m represents model*@
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate) @*m represents model*@
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0: d MMM yyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreId) @*m represents model*@
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select genre of the movie", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock) @*m represents model*@
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>


}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}




